<div class="Main-body">

    <ul class="topnav" style="position: relative;">
        <li><a class="active" href="https://platformcommons.org/"><img src="../../assets/platform-commons-1.png" height="30" width="150"></a>
        </li>
        <li><a href="https://platformcommons.org/engage-with-us">Engage</a></li>
        <li><a href="https://platformcommons.org/commons-farm/t">platform</a></li>
        <li class="right"><a href="https://platformcommons.org/platform/">About</a></li>
    </ul>

    <div class="bg">We build
        digital platforms
        for the little guy</div>
        <div class="flex">
            <div class="flex-container2">
                <div><a href="https://platformcommons.org/commons-farm/"><img src="../../assets/1600875194523.jpg"><br>Click here</a></div>
                <div><a href="https://platformcommons.org/commons-shiksha/"><img src="../../assets/1600875194523.jpg"><br>Click here</a></div>
                <div><a href="https://platformcommons.org/commons-social/"><img src="../../assets/1600875194523.jpg"><br>Click here</a></div>

            
        </div>
    </div>
</div>